* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background: linear-gradient(to right, #6f0000, #200122);
    height: 100vh;
}
.ball{
    position: relative;
}
.ball img{
height: 200px;
width: 200px;
border-radius: 50%;
border: 4px solid;
animation: ball 4s linear infinite;
position: absolute;
}


@keyframes ball {
    0%{
        transform: rotate(0); top: 0; left: 0 ;
    }
    12.5%{
        transform: rotate(90deg); top: 500px ; left:300px ;
    }
   25%{
        transform: rotate(180deg); top:0; left: 600px;
    }
    37.5%{
        transform: rotate(270deg); top:500px; left: 900px;
    }
    50%{
        transform: rotate(360deg); top: 0; left: 1300px;
    }
    62.5%{
        transform: rotate(270deg); top: 500px; left:900px; 
    }
    75%{
        transform: rotate(180deg); top: 0px ; left:600px ;
    }
    87.5%{
        transform: rotate(90deg); top:500px; left: 300px;
    }
    100%{
        transform: rotate(0deg); top:0; left: 0px;
    }

}
